#body {
    height: 200px;
    background-image: linear-gradient(to right, rgba(255, 0, 0, 0.059), rgba(9, 0, 36, 0.699));
}

#playlist-section::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
#playlist-section {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.table-hover tbody tr:hover td,
.table-hover tbody tr:hover th {
    background-color: rgba(1, 55, 6, 0.505);
}

#playlist-table tbody tr {
    font-size: 18px;
    font-family: Georgia, serif;
}

#loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 120px;
    height: 120px;
    margin: -76px 0 0 -76px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
  }
  
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  /* Add animation to "page content" */
  .animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
  }
  
  @-webkit-keyframes animatebottom {
    from { bottom:-100px; opacity:0 } 
    to { bottom:0px; opacity:1 }
  }
  
  @keyframes animatebottom { 
    from{ bottom:-100px; opacity:0 } 
    to{ bottom:0; opacity:1 }
  }
  
  #myDiv {
    display: none;
  }

@media screen and (max-height: 250px) {
    #playlist-section {
        height: 180px;
    }

    #playlist-table tbody tr,
    #playlist-table thead tr {
        font-size: 10px;
    }

    #playerPic {
        height: 70px;
        width: 70px;
    }

    #search-section {
        height: 30px;
    }

    #head-line {
        font-size: 10px;
    }
}

@media screen and (max-width: 650px) {
    #playlist-section {
        height: 300px;
    }

    #playlist-table tbody tr,
    #playlist-table thead tr {
        font-size: 10px;
    }

    #playerPic {
        height: 70px;
        width: 70px;
    }

    #search-section {
        height: 30px;
    }

    #head-line {
        font-size: 10px;
    }
}